body {
  font-family: "Sriracha", cursive, Cambria, Georgia, "Times New Roman",
    sans serif; /*font stack added*/
  text-align: justify;
  font-size: 1.75em;
  font-weight: bold;
  background-image: url("Images/buffalo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100%;
  min-width: 100%;
  color: black;
  overflow: auto;
}

#container {
  width: 85%;
  margin: auto;
  background-color: rgba(228, 242, 247, 0.5);
  padding: 15px;
}

h1 {
  /*Charles Hein heading*/
  font-family: "Rock Salt", cursive, "Franklin Gothic Medium", serif; /*font stack added*/
  color: black;
  background-color: rgba(248, 121, 16);
  text-align: center;
  border: 5px solid black;
  width: 90%;
  margin: auto;
  padding: 10px;
}

h2 {
  /*paragraph headings*/
  font-family: "Merienda", cursive, "Trebuchet MS", "Lucida Grande", Arial,
    sans-serif;
  color: black;
  color: rgb(235, 110, 8);
}

.nav li {
  text-align: center;
  width: auto;
  margin: 10px;
  padding: 5px;
  font-size: 1em;
  display: inline-block;
}

.nav {
  position: fixed;
  text-align: center;
  overflow: hidden;
  top: 0;
  float: right;  
  width: 85%;
  background-color: black;
  margin: auto;
}

.intro {
  padding: 15px;
  margin-top: 80px;
}

footer {
  width: 85%;
  margin: auto;
  background-color: rgba(228, 242, 247, 0.5);
  padding: 15px;
}

email{
  color:  yellow;
}


a:link {
  color: yellow;
  font-family: "Merienda", cursive, "Trebuchet MS", "Lucida Grande", Arial,
    sans-serif;
  color:rgba(248, 121, 16);
  text-decoration: none;
}

a:visited {
  color:white;
}

a:hover {
  color: rgb(30, 175, 163);
  text-decoration: underline;
}

.top {
  text-align: right;
}

.captions {
  /*Style all figcaptions*/
  font-family: "Sriracha", cursive, Cambria, Georgia, "Times New Roman",
    sans serif; /*font stack added*/
  font-style: italic;
  font-size: 0.85em;
  color: rgb(92, 67, 14);
  text-align: center;
  text-decoration: none;
}

.sports_section {
  overflow: auto; /* images were intruding on next paragraph*/
  padding: 20px;
}
.cancun_section{
  padding:20px;
}
.lefty {
  width: 250px;
  border: solid grey 5px;
}
.righty {
  width: 250px;
  border: solid grey 5px;
  
}
.rightImages {
  float: right;
  widows: 150px;
  text-align: center;
}

.leftImages {
  float: left;
  widows: 150px;
  text-align: center;
}

